<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <% if(nav === true){ %>
    <!-- navbar code -->
    <div class="w-full flex px-10 py-3 justify-between text-white bg-zinc-800 items-center ">
      <h3 class="mt-1  text-2xl  " >Pinterest</h3>
    <div class="flex gap-10">
      <a class="mt-2" href="/">Profile</a><a class="mt-2" href="#">Feed</a><a class="px-3 py-1 bg-red-700 text-white rounded-lg">Logout</a>
    </div>
  
    </div>

  <% }  %>
  