<% include ./partials/header.ejs %>
<!-- <div class="w-full h-screen bg-center bg-cover bg-[url(https://assets-global.website-files.com/5dcf94bbedfe6a4a06634ead/60aa7183a704a6667759ff1b_pinterest.jpeg)] bg-red-600  items-center justify-center ">
 <div class ="w-full h-screen bg-zinc-300 flex items-center justify-center">
   <div class="w-[50vh] h-[60vh] bg-zinc-100 px-20  py-20 rounded-[30px]">
     <h1 class = "text-3xl leading-none tracking-tighter capitalize text-center font-semibold text-zinc-700">Welcome to pinterest</h1>
      <form action = "">
      <input class = "border-2 rounded-md block w-full px-3 py-2" type="text" name = "username" placeholder="username">
      <input class = "border-2 rounded-md block w-full px-3 py-2" type="password" name = "password" placeholder="password">
      <a class ="mt-2 font-semibold text-zinc-500 inline-block " href="#">Forgot password</a>
      <input class = "border-2 rounded-full block w-full px-3 py-2 bg-red-600 text-white " type="submit" value="login"  > 
       <p class="text-xs font-semibold text-zinc-700 mt-7 w-3/4 mx-auto text-center">By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge that you've read our Privacy Policy; Opens a new tab. Notice at collection; Opens a new tab.
       </p>
      </form>
   </div>
  </div>
</div> -->

  <div class="w-full h-screen  bg-center bg-cover bg-[url(https://images.unsplash.com/photo-1616469832424-6927678c6b4b?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]  flex items-center justify-center">
    <div class="w-[50vh] h-[75vh] bg-zinc-100 px-20 py-20 rounded-[30px]">
      <h1 class="text-3xl mb-10 leading-none tracking-tighter capitalize text-center font-semibold text-zinc-700 opacity-[2]">Welcome to Pinterest</h1>
      <form action="/login" method="post">
        <input class="border-2 rounded-md block w-full px-3 py-2" type="text" name="username" placeholder="Username">
        <input class="border-2 rounded-md block w-full px-3 py-2" type="password" name="password" placeholder="Password">
        <a class="mt-2 font-semibold text-zinc-500 inline-block" href="#">Forgot password</a>
        <input class="border-2 rounded-full block w-full px-3 py-2 bg-red-600 text-white" type="submit" value="Login">
        <p class="text-xs font-semibold text-zinc-700 mt-7 w-3/4 mx-auto text-center">By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge that you've read our Privacy Policy; Opens a new tab. Notice at collection; Opens a new tab.</p>
        <a class="inline-block mt-7 font-semibold text-zinc-700 mt-5 text-center w-full "href="/register">Register here</a>
      </form>
    </div>
  </div>



<% include ./partials/footer.ejs %>